<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.sentry.sample">

    <!-- in order to support minSdk=14 -->
    <uses-sdk tools:overrideLibrary="io.sentry.android" />

    <!-- add extra permission (optional) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- add extra permission (optional) -->
    <!-- useful for automatic breadcrumbs on older Android OS versions -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="io.sentry.sample.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- set Sentry DSN -->
        <meta-data android:name="io.sentry.dsn" android:value="___PUBLIC_DSN___" />

        <!-- enable debug mode, it's disabled by default -->
        <meta-data android:name="io.sentry.debug" android:value="true" />

        <!-- enable release health, it's disabled by default -->
        <meta-data android:name="io.sentry.session-tracking.enable" android:value="true" />

        <!-- it's 30s by default, making it 5s for testing -->
        <meta-data android:name="io.sentry.session-tracking.timeout-interval-millis" android:value="5000" />
    </application>

</manifest>
