<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="sentry" class="io.sentry.logback.SentryAppender">
    <!-- Demonstrates how to modify the minimum values -->
    <!-- Default for Events is ERROR -->
    <minimumEventLevel>WARN</minimumEventLevel>
    <!-- Default for Breadcrumbs is INFO -->
    <minimumBreadcrumbLevel>DEBUG</minimumBreadcrumbLevel>
  </appender>

  <!-- it's important to set logger level to equal or lower than minimumBreadcrumbLevel and minimumEventLevel -->
  <root level="debug">
    <appender-ref ref="console"/>
    <appender-ref ref="sentry"/>
  </root>
</configuration>
